.div-part{
   background-color: #F6F6F6;
   
}
.leatest-item{
    color: #2959CE;
}
.leatest-num{
    color: dimgray;
}

.leatest-items{
    color: #2959CE;
}
.leatest-research-item{
    color: #8D8D8D;
    
}
.header-uz-ru-item{
    background-color: #DCE6FF;
    border-radius: 39px;
    
}
.leatest-uz-item{
    color:#000000;
}
.leatest-ru-item{
    color: #A6A6A6;

}

.leatest-come-item{
    background-color:#7296EC;
    
}
.leatest-come{
    color:#FFFFFF;
    
}

.leatest-item-link{
color: #7F7F7F;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
  
}
.under-line{
  color: #D1D1D1;
}

.latest-news-link{
    color: #000000;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
}
.latest-news-discription{
    font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
color: #4A4B4C;
}
.latest-news-time-text{
    font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;

color: #5E5F61;

}
.latest-news-items{
    background: #F6F6F6;
border-radius: 15px;
}
.latest-news-adv-banner{
    background-color:sandybrown;
}
.latest-span-item{
    background-color: #F78B3B;
    border-radius: 10px;
}
.latest-news-article-link{
    color:#FFFFFF;
    font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
}